<!-- <p>volume-bonus works!</p> -->

<div class="container-fluid ">
    <h1>Volume Bonus :</h1>
    <p>&nbsp; &nbsp; This bonus pays a fixed percentage of bonus for the sales and purchases of the downline to a
        sponsor. </p>
    <li>Level restrictions will be applied to this bonus. i.e., the bonus can be paid to the upline only till first
        manager.</li>
    <li>To receive this bonus the distributors should qualify certain eligibility conditions e.g. Being active in that
        month.</li>
    <li>The bonus % differs based on the current position of both the distributor and the upline member.</li>
    <div class="buttons"> <button type="submit" class="btn btn-info" style="width: 200px;"
            (click)="back()">Back</button>
        <br>
        <button type="submit" class="btn btn-info" style="width: 200px;" (click)="commissionType()">Select Commission
            Type</button>
    </div>
</div>