<!-- <p>customer-milestone-bonus works!</p> -->

<div class="container-fluid ">
    <h1>Customer Milestone Bonus :</h1>
    <p>&nbsp; &nbsp;This bonus is paid based on the monthly personal customer sales (retail sales),
        if personal retail sales of a distributor reaches a mile stone (e.g. 25 or 50) then that distributor
        will be paid with this bonus.
        <li>The personal retail sales refer to retail sales to 50 different customers.</li>
        <li>Premium kits do not count for this bonus.</li>
        <li>The bonus amount is based on the customer club e.g. $100/ month for 25 customers and $200/
            month for 50 customers and so on. </li>
    </p>
    <div class="buttons"> <button type="submit" class="btn btn-info" style="width: 200px;"
            (click)="back()">Back</button>
        <br>
        <button type="submit" class="btn btn-info" style="width: 200px;" (click)="commissionType()">Select Commission
            Type</button>
    </div>
</div>