<!-- <p>customer-acquisition-bonus works!</p> -->

<div class="container-fluid ">
    <h1>Customer Acquisition Bonus :</h1>
    <p>&nbsp; &nbsp;If a new representative qualifies as a distributor within a certain time,
        then the sponsor of this distributor is eligible to receive this bonus.
        <li>The new member should qualify some eligibility conditions for the sponsor to achieve this bonus.</li>
        <li>The time limit is usually 30, 60 or 90 days.</li>
        <li>This bonus can be held for certain days from the date the new member shows as being qualified.</li>
        <li>The bonus % is determined by the leadership position of the sponsor.</li>
    </p>
    <div class="buttons"> <button type="submit" class="btn btn-info" style="width: 200px;"
            (click)="back()">Back</button>
        <br>
        <button type="submit" class="btn btn-info" style="width: 200px;" (click)="commissionType()">Select Commission
            Type</button>
    </div>

</div>