<!-- <p>fast-start-bonus works!</p> -->
<div class="container-fluid ">
    <h1>Fast Start Bonus :</h1>
    <p>&nbsp; &nbsp;As a new representative, a member is eligible for this bonus,
        if he/she reaches any of the below bench marks in a certain time period.</p>
    <li>Attaining a distributor position in the organization with in a certain time frame.
        Eg: If ‘A’ enrols ‘B’ and ‘B’ reaches the position of a qualified sales person in the organization within 30
        days,
        then ‘A’ gets the fast-start bonus.
    </li>
    <li>When a new distributor personally enrols 2 customers under him, within their first 30 days, as an enroller
        of this distributor, the sponsor qualifies for this bonus.</li>
    <p>&nbsp; &nbsp;Here the bonus amount may be a fixed amount or fixed percentage and the time to attain
        bench mark differs based on the company’s requirement</p>
    <p>&nbsp; &nbsp;This is a one-time paid bonus.</p>
    <div class="buttons"> <button type="submit" class="btn btn-info" style="width: 200px;"
            (click)="back()">Back</button>
        <br>
        <button type="submit" class="btn btn-info" style="width: 200px;" (click)="commissionType()">Select Commission
            Type</button>
    </div>
</div>