<!-- <p>personal-sponsored-customerpremiumkit-bonus works!</p> -->

<div class="container-fluid ">
    <h1>Personal Sponsored Customer Premium Kit Bonus :</h1>
    <p>&nbsp; &nbsp;This bonus is paid to the sponsor when a downline member buys a premium
        starter kit/ sign up pack or any special kits. </p>
    <li>If immediate sponsor is not active or terminated, then the next upline will get the bonus.</li>
    <li>This bonus has no qualification criteria.</li>
    <li>Bonus amount differs based on the current level of the sponsor.</li>
    <li>This bonus can also be given as Generational bonus i.e., each premium kit sold above a certain amount
        e.g.: 100pv (product value), can generate two generation premium kit bonus
        <ul>1st generation bonus will be paid to the immediate sponsor of the person buying the kit. </ul>
        <ul>2nd generation bonus will be paid to the sponsor of the 1st generation bonus earner. </ul>
    </li>
    <p>Roll up can be applied to this bonus.</p>
    <p>[note: Roll up is a technique used instead of compression to create full pay-out.
        Under this method, rather than keeping the breakage created by unqualified distributor,
        the commission program calculates what unqualified distributors would earn if they were qualified.
        Then, instead of paying them, the commission are paid to the first upline distributor]</p>
    <div class="buttons"> <button type="submit" class="btn btn-info" style="width: 200px;"
            (click)="back()">Back</button>
        <br>
        <button type="submit" class="btn btn-info" style="width: 200px;" (click)="commissionType()">Select Commission
            Type</button>
    </div>
</div>