<!-- <p>retail-bonus works!</p> -->


<div class="container-fluid ">
    <h1>Retail Bonus :</h1>
    <p>&nbsp; &nbsp;Retail Bonus is can be considered as two types:</p>
    <li>A distributor can buy the product from company in wholesale price and sell to customers in retail price,
        the difference between the retail and wholesale price will be the retail bonus for this distributor. </li>
    <li>When customers, who are not enrolled in the company, buys products directly from company using a
        distributor’s id, then the distributor is eligible to get retail bonus from the company.</li>
    <p>&nbsp; &nbsp;There is no time limit for this bonus. As and when a retail sale happens distributors
        will receive this bonus. This is a onetime bonus per retail sale.</p>
    <p>&nbsp; &nbsp;The bonus paid can be fixed percentage or it can be a percentage of difference between retail and
        wholesale
        price. </p>
    <div class="buttons"> <button type="submit" class="btn btn-info" style="width: 200px;"
            (click)="back()">Back</button>
        <br>
        <button type="submit" class="btn btn-info" style="width: 200px;" (click)="commissionType()">Select Commission
            Type</button>
    </div>
</div>