<!-- <p>earned-position-bonuc works!</p> -->
<div class="container-fluid ">
    <h1>Earned Position Bonus :</h1>
    <p>&nbsp; &nbsp;Earned – position bonus can be received by a distributor, when himself or person that
        distributor personally enrols reaches different levels / ranks of the organization within certain
        time frame. This is much like Fast-track bonus.</p>
    <p>&nbsp; &nbsp;Here the bonus amount may be a fixed amount, or fixed percentage or variable percentage based on
        the level of the distributor qualifying for bonus and the time to attain bench mark differs based on
        the company requirement</p>
    <p>&nbsp; &nbsp;The bonus is paid as a one-time bonus to the distributor. This is a single level bonus (only to
        distributor himself or immediate sponsor).</p>
    <div class="buttons"> <button type="submit" class="btn btn-info" style="width: 200px;"
            (click)="back()">Back</button>
        <br>
        <button type="submit" class="btn btn-info" style="width: 200px;" (click)="commissionType()">Select Commission
            Type</button>
    </div>
</div>