<!-- <p>preferred-customer-sales-bonus works!</p> -->

<div class="container-fluid ">
    <h1>Preferred Customer Sales Bonus :</h1>
    <p>&nbsp; &nbsp;This bonus can be received by a sponsor or one of his/ her preferred customer’s
        (a person who is enrolled to the company but not yet attained distributor status) purchase.</p>
    <li>There is no time frame for this bonus, as long as the downline member remains in the preferred
        customer position, the sponsor will receive the bonus.</li>
    <li>The bonus may be a fixed amount /percentage, or the bonus percentage may differ
        based on the current sales position of the sponsor.</li>
    <div class="buttons"> <button type="submit" class="btn btn-info" style="width: 200px;"
            (click)="back()">Back</button>
        <br>
        <button type="submit" class="btn btn-info" style="width: 200px;" (click)="commissionType()">Select Commission
            Type</button>
    </div>
</div>